{% extends "courses/layout.html" %}

{% block title %}All{% endblock %}

{% block content %}
<div class="row columns">
    {{ block.super }}
</div>
<div class="row">
    {%  for course in courses %}
    <div class="small-6 columns">
        <div class="callout">
            <h5><a href="{% url 'courses:detail' pk=course.pk %}">{{ course.title }}</a></h5>
            <div class="card-copy">
                {% if course.description|wordcount <= 5 %}
                {{ course.description }}
                {% else %}
                {{ course.description|truncatewords:5 }}
                {% endif %}
                <p>Created on: {{course.created_at|date:"F j, Y"}}</p>

            </div>
        </div>
    </div>

    {% if forloop.counter|divisibleby:"2" %}
</div>
<div class="row">
    {% endif %}
    {% endfor %}
    <div>
        Have any questions? Contact us! {{ email|urlize }}
    </div>
</div>
{% endblock %}
