{% extends "layout.html" %}

{% load humanize course_extras %}

{% block title %} {{ course.title }} {% endblock %}


{% block content %}
<article>
    <h2>{{course.title}}</h2>
    {{ course.description|markdown_to_html }}
    <!-- <p>There are {{ course.step_set.all|length }}  step(s) in this course: {{ course.step_set.all|join:", " }}</p> -->
    <p>There are {{ steps|length }} step{{ steps|length|pluralize }} in this course: {{ steps|join:", " }}</p>
    <section>
        {% for step in steps %}
        <h3><a href="{{ step.get_absolute_url }}">{{ step.title }}</a></h3>
        {{ step.description|markdown_to_html }}
        {% endfor %}
    </section>
</article>
{% endblock %}
