{% extends "layout.html" %}
{% load static from staticfiles %}

{% block static %} <link rel="stylesheet" href="{% static 'courses/css/courses.css' %}"> {% endblock %}
{% block title %} Available Courses {% endblock %}

{% block content %}
<div class="cards">
    {%for course in courses %}
    <div class="card">
        <header><a href="{% url 'courses:course' pk=course.pk %}">{{ course.title }}</a></header>
        <div class="card-copy">
            {% if course.description|wordcount <= 5 %}
                {{ course.description }}
            {% else %}
                {{ course.description|truncatewords:5 }}
            {% endif %}
            <p>Created on: {{course.created_at|date:"F j, Y"}}</p>

        </div>
    </div>
    {% endfor %}
    <div>
        Have any questions? Contact us! {{ email|urlize }}
    </div>
</div>
{% endblock %}
